## ignoring temporary files from emacs/knitr/tex

*/*.*~
*/*/*.*~
*/*.tex
*/*.aux
*/*.log
*/*.pdf
*/*.out

## ignore compiled cpp
*o
*so


## ignore cache files from knitr
vignettes/*.md
vignettes/*html
vignettes/*cache*
vignettes/*files*

*png
*rprof

## ignore certain files meant for local calculations only
vignettes/mnist*


