## temporary files from emacs/knitr/tex
*/*.*~
*/*/*.*~
*/*.tex
*/*.aux
*/*.log
*/*.pdf
*/*.out
.idea

## compiled cpp
*o
*so

## cache files from knitr
vignettes/*.md
vignettes/*html
vignettes/*cache*
vignettes/*files*
*png

## profiling
*rprof

## files meant for local calculations only
vignettes/mnist*

